[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
rope = "*"

[packages]
pygame = "==1.*"
jsonpickle = "*"
lz4 = "*"
toml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
